/* line 4, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 9, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clear {
  clear: both;
}
/* line 12, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .nowrap {
  white-space: nowrap;
}
/* line 16, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clearfix {
  overflow: hidden;
  *zoom: 1;
}
/* line 18, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
/* line 26, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .first {
  margin-left: 0;
  padding-left: 0;
}
/* line 29, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .last {
  margin-right: 0;
  padding-right: 0;
}
/* line 32, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .top {
  margin-top: 0;
  padding-top: 0;
}
/* line 35, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 25, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_debug.scss */
body.bp .showgrid {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.5)), color-stop(5%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 0% 50%, 960 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(3.125%, rgba(100, 100, 225, 0.25)), color-stop(3.125%, rgba(0, 0, 0, 0)), color-stop(4.167%, rgba(0, 0, 0, 0)), color-stop(4.167%, rgba(100, 100, 225, 0.25)), color-stop(7.292%, rgba(100, 100, 225, 0.25)), color-stop(7.292%, rgba(0, 0, 0, 0)), color-stop(8.333%, rgba(0, 0, 0, 0)), color-stop(8.333%, rgba(100, 100, 225, 0.25)), color-stop(11.458%, rgba(100, 100, 225, 0.25)), color-stop(11.458%, rgba(0, 0, 0, 0)), color-stop(12.5%, rgba(0, 0, 0, 0)), color-stop(12.5%, rgba(100, 100, 225, 0.25)), color-stop(15.625%, rgba(100, 100, 225, 0.25)), color-stop(15.625%, rgba(0, 0, 0, 0)), color-stop(16.667%, rgba(0, 0, 0, 0)), color-stop(16.667%, rgba(100, 100, 225, 0.25)), color-stop(19.792%, rgba(100, 100, 225, 0.25)), color-stop(19.792%, rgba(0, 0, 0, 0)), color-stop(20.833%, rgba(0, 0, 0, 0)), color-stop(20.833%, rgba(100, 100, 225, 0.25)), color-stop(23.958%, rgba(100, 100, 225, 0.25)), color-stop(23.958%, rgba(0, 0, 0, 0)), color-stop(25%, rgba(0, 0, 0, 0)), color-stop(25%, rgba(100, 100, 225, 0.25)), color-stop(28.125%, rgba(100, 100, 225, 0.25)), color-stop(28.125%, rgba(0, 0, 0, 0)), color-stop(29.167%, rgba(0, 0, 0, 0)), color-stop(29.167%, rgba(100, 100, 225, 0.25)), color-stop(32.292%, rgba(100, 100, 225, 0.25)), color-stop(32.292%, rgba(0, 0, 0, 0)), color-stop(33.333%, rgba(0, 0, 0, 0)), color-stop(33.333%, rgba(100, 100, 225, 0.25)), color-stop(36.458%, rgba(100, 100, 225, 0.25)), color-stop(36.458%, rgba(0, 0, 0, 0)), color-stop(37.5%, rgba(0, 0, 0, 0)), color-stop(37.5%, rgba(100, 100, 225, 0.25)), color-stop(40.625%, rgba(100, 100, 225, 0.25)), color-stop(40.625%, rgba(0, 0, 0, 0)), color-stop(41.667%, rgba(0, 0, 0, 0)), color-stop(41.667%, rgba(100, 100, 225, 0.25)), color-stop(44.792%, rgba(100, 100, 225, 0.25)), color-stop(44.792%, rgba(0, 0, 0, 0)), color-stop(45.833%, rgba(0, 0, 0, 0)), color-stop(45.833%, rgba(100, 100, 225, 0.25)), color-stop(48.958%, rgba(100, 100, 225, 0.25)), color-stop(48.958%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(100, 100, 225, 0.25)), color-stop(53.125%, rgba(100, 100, 225, 0.25)), color-stop(53.125%, rgba(0, 0, 0, 0)), color-stop(54.167%, rgba(0, 0, 0, 0)), color-stop(54.167%, rgba(100, 100, 225, 0.25)), color-stop(57.292%, rgba(100, 100, 225, 0.25)), color-stop(57.292%, rgba(0, 0, 0, 0)), color-stop(58.333%, rgba(0, 0, 0, 0)), color-stop(58.333%, rgba(100, 100, 225, 0.25)), color-stop(61.458%, rgba(100, 100, 225, 0.25)), color-stop(61.458%, rgba(0, 0, 0, 0)), color-stop(62.5%, rgba(0, 0, 0, 0)), color-stop(62.5%, rgba(100, 100, 225, 0.25)), color-stop(65.625%, rgba(100, 100, 225, 0.25)), color-stop(65.625%, rgba(0, 0, 0, 0)), color-stop(66.667%, rgba(0, 0, 0, 0)), color-stop(66.667%, rgba(100, 100, 225, 0.25)), color-stop(69.792%, rgba(100, 100, 225, 0.25)), color-stop(69.792%, rgba(0, 0, 0, 0)), color-stop(70.833%, rgba(0, 0, 0, 0)), color-stop(70.833%, rgba(100, 100, 225, 0.25)), color-stop(73.958%, rgba(100, 100, 225, 0.25)), color-stop(73.958%, rgba(0, 0, 0, 0)), color-stop(75%, rgba(0, 0, 0, 0)), color-stop(75%, rgba(100, 100, 225, 0.25)), color-stop(78.125%, rgba(100, 100, 225, 0.25)), color-stop(78.125%, rgba(0, 0, 0, 0)), color-stop(79.167%, rgba(0, 0, 0, 0)), color-stop(79.167%, rgba(100, 100, 225, 0.25)), color-stop(82.292%, rgba(100, 100, 225, 0.25)), color-stop(82.292%, rgba(0, 0, 0, 0)), color-stop(83.333%, rgba(0, 0, 0, 0)), color-stop(83.333%, rgba(100, 100, 225, 0.25)), color-stop(86.458%, rgba(100, 100, 225, 0.25)), color-stop(86.458%, rgba(0, 0, 0, 0)), color-stop(87.5%, rgba(0, 0, 0, 0)), color-stop(87.5%, rgba(100, 100, 225, 0.25)), color-stop(90.625%, rgba(100, 100, 225, 0.25)), color-stop(90.625%, rgba(0, 0, 0, 0)), color-stop(91.667%, rgba(0, 0, 0, 0)), color-stop(91.667%, rgba(100, 100, 225, 0.25)), color-stop(94.792%, rgba(100, 100, 225, 0.25)), color-stop(94.792%, rgba(0, 0, 0, 0)), color-stop(95.833%, rgba(0, 0, 0, 0)), color-stop(95.833%, rgba(100, 100, 225, 0.25)), color-stop(98.958%, rgba(100, 100, 225, 0.25)), color-stop(98.958%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 30px, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0) 40px, rgba(100, 100, 225, 0.25) 40px, rgba(100, 100, 225, 0.25) 70px, rgba(0, 0, 0, 0) 70px, rgba(0, 0, 0, 0) 80px, rgba(100, 100, 225, 0.25) 80px, rgba(100, 100, 225, 0.25) 110px, rgba(0, 0, 0, 0) 110px, rgba(0, 0, 0, 0) 120px, rgba(100, 100, 225, 0.25) 120px, rgba(100, 100, 225, 0.25) 150px, rgba(0, 0, 0, 0) 150px, rgba(0, 0, 0, 0) 160px, rgba(100, 100, 225, 0.25) 160px, rgba(100, 100, 225, 0.25) 190px, rgba(0, 0, 0, 0) 190px, rgba(0, 0, 0, 0) 200px, rgba(100, 100, 225, 0.25) 200px, rgba(100, 100, 225, 0.25) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 240px, rgba(100, 100, 225, 0.25) 240px, rgba(100, 100, 225, 0.25) 270px, rgba(0, 0, 0, 0) 270px, rgba(0, 0, 0, 0) 280px, rgba(100, 100, 225, 0.25) 280px, rgba(100, 100, 225, 0.25) 310px, rgba(0, 0, 0, 0) 310px, rgba(0, 0, 0, 0) 320px, rgba(100, 100, 225, 0.25) 320px, rgba(100, 100, 225, 0.25) 350px, rgba(0, 0, 0, 0) 350px, rgba(0, 0, 0, 0) 360px, rgba(100, 100, 225, 0.25) 360px, rgba(100, 100, 225, 0.25) 390px, rgba(0, 0, 0, 0) 390px, rgba(0, 0, 0, 0) 400px, rgba(100, 100, 225, 0.25) 400px, rgba(100, 100, 225, 0.25) 430px, rgba(0, 0, 0, 0) 430px, rgba(0, 0, 0, 0) 440px, rgba(100, 100, 225, 0.25) 440px, rgba(100, 100, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 480px, rgba(100, 100, 225, 0.25) 480px, rgba(100, 100, 225, 0.25) 510px, rgba(0, 0, 0, 0) 510px, rgba(0, 0, 0, 0) 520px, rgba(100, 100, 225, 0.25) 520px, rgba(100, 100, 225, 0.25) 550px, rgba(0, 0, 0, 0) 550px, rgba(0, 0, 0, 0) 560px, rgba(100, 100, 225, 0.25) 560px, rgba(100, 100, 225, 0.25) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 600px, rgba(100, 100, 225, 0.25) 600px, rgba(100, 100, 225, 0.25) 630px, rgba(0, 0, 0, 0) 630px, rgba(0, 0, 0, 0) 640px, rgba(100, 100, 225, 0.25) 640px, rgba(100, 100, 225, 0.25) 670px, rgba(0, 0, 0, 0) 670px, rgba(0, 0, 0, 0) 680px, rgba(100, 100, 225, 0.25) 680px, rgba(100, 100, 225, 0.25) 710px, rgba(0, 0, 0, 0) 710px, rgba(0, 0, 0, 0) 720px, rgba(100, 100, 225, 0.25) 720px, rgba(100, 100, 225, 0.25) 750px, rgba(0, 0, 0, 0) 750px, rgba(0, 0, 0, 0) 760px, rgba(100, 100, 225, 0.25) 760px, rgba(100, 100, 225, 0.25) 790px, rgba(0, 0, 0, 0) 790px, rgba(0, 0, 0, 0) 800px, rgba(100, 100, 225, 0.25) 800px, rgba(100, 100, 225, 0.25) 830px, rgba(0, 0, 0, 0) 830px, rgba(0, 0, 0, 0) 840px, rgba(100, 100, 225, 0.25) 840px, rgba(100, 100, 225, 0.25) 870px, rgba(0, 0, 0, 0) 870px, rgba(0, 0, 0, 0) 880px, rgba(100, 100, 225, 0.25) 880px, rgba(100, 100, 225, 0.25) 910px, rgba(0, 0, 0, 0) 910px, rgba(0, 0, 0, 0) 920px, rgba(100, 100, 225, 0.25) 920px, rgba(100, 100, 225, 0.25) 950px, rgba(0, 0, 0, 0) 950px, rgba(0, 0, 0, 0) 960px);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 30px, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0) 40px, rgba(100, 100, 225, 0.25) 40px, rgba(100, 100, 225, 0.25) 70px, rgba(0, 0, 0, 0) 70px, rgba(0, 0, 0, 0) 80px, rgba(100, 100, 225, 0.25) 80px, rgba(100, 100, 225, 0.25) 110px, rgba(0, 0, 0, 0) 110px, rgba(0, 0, 0, 0) 120px, rgba(100, 100, 225, 0.25) 120px, rgba(100, 100, 225, 0.25) 150px, rgba(0, 0, 0, 0) 150px, rgba(0, 0, 0, 0) 160px, rgba(100, 100, 225, 0.25) 160px, rgba(100, 100, 225, 0.25) 190px, rgba(0, 0, 0, 0) 190px, rgba(0, 0, 0, 0) 200px, rgba(100, 100, 225, 0.25) 200px, rgba(100, 100, 225, 0.25) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 240px, rgba(100, 100, 225, 0.25) 240px, rgba(100, 100, 225, 0.25) 270px, rgba(0, 0, 0, 0) 270px, rgba(0, 0, 0, 0) 280px, rgba(100, 100, 225, 0.25) 280px, rgba(100, 100, 225, 0.25) 310px, rgba(0, 0, 0, 0) 310px, rgba(0, 0, 0, 0) 320px, rgba(100, 100, 225, 0.25) 320px, rgba(100, 100, 225, 0.25) 350px, rgba(0, 0, 0, 0) 350px, rgba(0, 0, 0, 0) 360px, rgba(100, 100, 225, 0.25) 360px, rgba(100, 100, 225, 0.25) 390px, rgba(0, 0, 0, 0) 390px, rgba(0, 0, 0, 0) 400px, rgba(100, 100, 225, 0.25) 400px, rgba(100, 100, 225, 0.25) 430px, rgba(0, 0, 0, 0) 430px, rgba(0, 0, 0, 0) 440px, rgba(100, 100, 225, 0.25) 440px, rgba(100, 100, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 480px, rgba(100, 100, 225, 0.25) 480px, rgba(100, 100, 225, 0.25) 510px, rgba(0, 0, 0, 0) 510px, rgba(0, 0, 0, 0) 520px, rgba(100, 100, 225, 0.25) 520px, rgba(100, 100, 225, 0.25) 550px, rgba(0, 0, 0, 0) 550px, rgba(0, 0, 0, 0) 560px, rgba(100, 100, 225, 0.25) 560px, rgba(100, 100, 225, 0.25) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 600px, rgba(100, 100, 225, 0.25) 600px, rgba(100, 100, 225, 0.25) 630px, rgba(0, 0, 0, 0) 630px, rgba(0, 0, 0, 0) 640px, rgba(100, 100, 225, 0.25) 640px, rgba(100, 100, 225, 0.25) 670px, rgba(0, 0, 0, 0) 670px, rgba(0, 0, 0, 0) 680px, rgba(100, 100, 225, 0.25) 680px, rgba(100, 100, 225, 0.25) 710px, rgba(0, 0, 0, 0) 710px, rgba(0, 0, 0, 0) 720px, rgba(100, 100, 225, 0.25) 720px, rgba(100, 100, 225, 0.25) 750px, rgba(0, 0, 0, 0) 750px, rgba(0, 0, 0, 0) 760px, rgba(100, 100, 225, 0.25) 760px, rgba(100, 100, 225, 0.25) 790px, rgba(0, 0, 0, 0) 790px, rgba(0, 0, 0, 0) 800px, rgba(100, 100, 225, 0.25) 800px, rgba(100, 100, 225, 0.25) 830px, rgba(0, 0, 0, 0) 830px, rgba(0, 0, 0, 0) 840px, rgba(100, 100, 225, 0.25) 840px, rgba(100, 100, 225, 0.25) 870px, rgba(0, 0, 0, 0) 870px, rgba(0, 0, 0, 0) 880px, rgba(100, 100, 225, 0.25) 880px, rgba(100, 100, 225, 0.25) 910px, rgba(0, 0, 0, 0) 910px, rgba(0, 0, 0, 0) 920px, rgba(100, 100, 225, 0.25) 920px, rgba(100, 100, 225, 0.25) 950px, rgba(0, 0, 0, 0) 950px, rgba(0, 0, 0, 0) 960px);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -o-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 30px, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0) 40px, rgba(100, 100, 225, 0.25) 40px, rgba(100, 100, 225, 0.25) 70px, rgba(0, 0, 0, 0) 70px, rgba(0, 0, 0, 0) 80px, rgba(100, 100, 225, 0.25) 80px, rgba(100, 100, 225, 0.25) 110px, rgba(0, 0, 0, 0) 110px, rgba(0, 0, 0, 0) 120px, rgba(100, 100, 225, 0.25) 120px, rgba(100, 100, 225, 0.25) 150px, rgba(0, 0, 0, 0) 150px, rgba(0, 0, 0, 0) 160px, rgba(100, 100, 225, 0.25) 160px, rgba(100, 100, 225, 0.25) 190px, rgba(0, 0, 0, 0) 190px, rgba(0, 0, 0, 0) 200px, rgba(100, 100, 225, 0.25) 200px, rgba(100, 100, 225, 0.25) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 240px, rgba(100, 100, 225, 0.25) 240px, rgba(100, 100, 225, 0.25) 270px, rgba(0, 0, 0, 0) 270px, rgba(0, 0, 0, 0) 280px, rgba(100, 100, 225, 0.25) 280px, rgba(100, 100, 225, 0.25) 310px, rgba(0, 0, 0, 0) 310px, rgba(0, 0, 0, 0) 320px, rgba(100, 100, 225, 0.25) 320px, rgba(100, 100, 225, 0.25) 350px, rgba(0, 0, 0, 0) 350px, rgba(0, 0, 0, 0) 360px, rgba(100, 100, 225, 0.25) 360px, rgba(100, 100, 225, 0.25) 390px, rgba(0, 0, 0, 0) 390px, rgba(0, 0, 0, 0) 400px, rgba(100, 100, 225, 0.25) 400px, rgba(100, 100, 225, 0.25) 430px, rgba(0, 0, 0, 0) 430px, rgba(0, 0, 0, 0) 440px, rgba(100, 100, 225, 0.25) 440px, rgba(100, 100, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 480px, rgba(100, 100, 225, 0.25) 480px, rgba(100, 100, 225, 0.25) 510px, rgba(0, 0, 0, 0) 510px, rgba(0, 0, 0, 0) 520px, rgba(100, 100, 225, 0.25) 520px, rgba(100, 100, 225, 0.25) 550px, rgba(0, 0, 0, 0) 550px, rgba(0, 0, 0, 0) 560px, rgba(100, 100, 225, 0.25) 560px, rgba(100, 100, 225, 0.25) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 600px, rgba(100, 100, 225, 0.25) 600px, rgba(100, 100, 225, 0.25) 630px, rgba(0, 0, 0, 0) 630px, rgba(0, 0, 0, 0) 640px, rgba(100, 100, 225, 0.25) 640px, rgba(100, 100, 225, 0.25) 670px, rgba(0, 0, 0, 0) 670px, rgba(0, 0, 0, 0) 680px, rgba(100, 100, 225, 0.25) 680px, rgba(100, 100, 225, 0.25) 710px, rgba(0, 0, 0, 0) 710px, rgba(0, 0, 0, 0) 720px, rgba(100, 100, 225, 0.25) 720px, rgba(100, 100, 225, 0.25) 750px, rgba(0, 0, 0, 0) 750px, rgba(0, 0, 0, 0) 760px, rgba(100, 100, 225, 0.25) 760px, rgba(100, 100, 225, 0.25) 790px, rgba(0, 0, 0, 0) 790px, rgba(0, 0, 0, 0) 800px, rgba(100, 100, 225, 0.25) 800px, rgba(100, 100, 225, 0.25) 830px, rgba(0, 0, 0, 0) 830px, rgba(0, 0, 0, 0) 840px, rgba(100, 100, 225, 0.25) 840px, rgba(100, 100, 225, 0.25) 870px, rgba(0, 0, 0, 0) 870px, rgba(0, 0, 0, 0) 880px, rgba(100, 100, 225, 0.25) 880px, rgba(100, 100, 225, 0.25) 910px, rgba(0, 0, 0, 0) 910px, rgba(0, 0, 0, 0) 920px, rgba(100, 100, 225, 0.25) 920px, rgba(100, 100, 225, 0.25) 950px, rgba(0, 0, 0, 0) 950px, rgba(0, 0, 0, 0) 960px);
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 30px, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0) 40px, rgba(100, 100, 225, 0.25) 40px, rgba(100, 100, 225, 0.25) 70px, rgba(0, 0, 0, 0) 70px, rgba(0, 0, 0, 0) 80px, rgba(100, 100, 225, 0.25) 80px, rgba(100, 100, 225, 0.25) 110px, rgba(0, 0, 0, 0) 110px, rgba(0, 0, 0, 0) 120px, rgba(100, 100, 225, 0.25) 120px, rgba(100, 100, 225, 0.25) 150px, rgba(0, 0, 0, 0) 150px, rgba(0, 0, 0, 0) 160px, rgba(100, 100, 225, 0.25) 160px, rgba(100, 100, 225, 0.25) 190px, rgba(0, 0, 0, 0) 190px, rgba(0, 0, 0, 0) 200px, rgba(100, 100, 225, 0.25) 200px, rgba(100, 100, 225, 0.25) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 240px, rgba(100, 100, 225, 0.25) 240px, rgba(100, 100, 225, 0.25) 270px, rgba(0, 0, 0, 0) 270px, rgba(0, 0, 0, 0) 280px, rgba(100, 100, 225, 0.25) 280px, rgba(100, 100, 225, 0.25) 310px, rgba(0, 0, 0, 0) 310px, rgba(0, 0, 0, 0) 320px, rgba(100, 100, 225, 0.25) 320px, rgba(100, 100, 225, 0.25) 350px, rgba(0, 0, 0, 0) 350px, rgba(0, 0, 0, 0) 360px, rgba(100, 100, 225, 0.25) 360px, rgba(100, 100, 225, 0.25) 390px, rgba(0, 0, 0, 0) 390px, rgba(0, 0, 0, 0) 400px, rgba(100, 100, 225, 0.25) 400px, rgba(100, 100, 225, 0.25) 430px, rgba(0, 0, 0, 0) 430px, rgba(0, 0, 0, 0) 440px, rgba(100, 100, 225, 0.25) 440px, rgba(100, 100, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 480px, rgba(100, 100, 225, 0.25) 480px, rgba(100, 100, 225, 0.25) 510px, rgba(0, 0, 0, 0) 510px, rgba(0, 0, 0, 0) 520px, rgba(100, 100, 225, 0.25) 520px, rgba(100, 100, 225, 0.25) 550px, rgba(0, 0, 0, 0) 550px, rgba(0, 0, 0, 0) 560px, rgba(100, 100, 225, 0.25) 560px, rgba(100, 100, 225, 0.25) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 600px, rgba(100, 100, 225, 0.25) 600px, rgba(100, 100, 225, 0.25) 630px, rgba(0, 0, 0, 0) 630px, rgba(0, 0, 0, 0) 640px, rgba(100, 100, 225, 0.25) 640px, rgba(100, 100, 225, 0.25) 670px, rgba(0, 0, 0, 0) 670px, rgba(0, 0, 0, 0) 680px, rgba(100, 100, 225, 0.25) 680px, rgba(100, 100, 225, 0.25) 710px, rgba(0, 0, 0, 0) 710px, rgba(0, 0, 0, 0) 720px, rgba(100, 100, 225, 0.25) 720px, rgba(100, 100, 225, 0.25) 750px, rgba(0, 0, 0, 0) 750px, rgba(0, 0, 0, 0) 760px, rgba(100, 100, 225, 0.25) 760px, rgba(100, 100, 225, 0.25) 790px, rgba(0, 0, 0, 0) 790px, rgba(0, 0, 0, 0) 800px, rgba(100, 100, 225, 0.25) 800px, rgba(100, 100, 225, 0.25) 830px, rgba(0, 0, 0, 0) 830px, rgba(0, 0, 0, 0) 840px, rgba(100, 100, 225, 0.25) 840px, rgba(100, 100, 225, 0.25) 870px, rgba(0, 0, 0, 0) 870px, rgba(0, 0, 0, 0) 880px, rgba(100, 100, 225, 0.25) 880px, rgba(100, 100, 225, 0.25) 910px, rgba(0, 0, 0, 0) 910px, rgba(0, 0, 0, 0) 920px, rgba(100, 100, 225, 0.25) 920px, rgba(100, 100, 225, 0.25) 950px, rgba(0, 0, 0, 0) 950px, rgba(0, 0, 0, 0) 960px);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 30px, rgba(0, 0, 0, 0) 30px, rgba(0, 0, 0, 0) 40px, rgba(100, 100, 225, 0.25) 40px, rgba(100, 100, 225, 0.25) 70px, rgba(0, 0, 0, 0) 70px, rgba(0, 0, 0, 0) 80px, rgba(100, 100, 225, 0.25) 80px, rgba(100, 100, 225, 0.25) 110px, rgba(0, 0, 0, 0) 110px, rgba(0, 0, 0, 0) 120px, rgba(100, 100, 225, 0.25) 120px, rgba(100, 100, 225, 0.25) 150px, rgba(0, 0, 0, 0) 150px, rgba(0, 0, 0, 0) 160px, rgba(100, 100, 225, 0.25) 160px, rgba(100, 100, 225, 0.25) 190px, rgba(0, 0, 0, 0) 190px, rgba(0, 0, 0, 0) 200px, rgba(100, 100, 225, 0.25) 200px, rgba(100, 100, 225, 0.25) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 240px, rgba(100, 100, 225, 0.25) 240px, rgba(100, 100, 225, 0.25) 270px, rgba(0, 0, 0, 0) 270px, rgba(0, 0, 0, 0) 280px, rgba(100, 100, 225, 0.25) 280px, rgba(100, 100, 225, 0.25) 310px, rgba(0, 0, 0, 0) 310px, rgba(0, 0, 0, 0) 320px, rgba(100, 100, 225, 0.25) 320px, rgba(100, 100, 225, 0.25) 350px, rgba(0, 0, 0, 0) 350px, rgba(0, 0, 0, 0) 360px, rgba(100, 100, 225, 0.25) 360px, rgba(100, 100, 225, 0.25) 390px, rgba(0, 0, 0, 0) 390px, rgba(0, 0, 0, 0) 400px, rgba(100, 100, 225, 0.25) 400px, rgba(100, 100, 225, 0.25) 430px, rgba(0, 0, 0, 0) 430px, rgba(0, 0, 0, 0) 440px, rgba(100, 100, 225, 0.25) 440px, rgba(100, 100, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 480px, rgba(100, 100, 225, 0.25) 480px, rgba(100, 100, 225, 0.25) 510px, rgba(0, 0, 0, 0) 510px, rgba(0, 0, 0, 0) 520px, rgba(100, 100, 225, 0.25) 520px, rgba(100, 100, 225, 0.25) 550px, rgba(0, 0, 0, 0) 550px, rgba(0, 0, 0, 0) 560px, rgba(100, 100, 225, 0.25) 560px, rgba(100, 100, 225, 0.25) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 600px, rgba(100, 100, 225, 0.25) 600px, rgba(100, 100, 225, 0.25) 630px, rgba(0, 0, 0, 0) 630px, rgba(0, 0, 0, 0) 640px, rgba(100, 100, 225, 0.25) 640px, rgba(100, 100, 225, 0.25) 670px, rgba(0, 0, 0, 0) 670px, rgba(0, 0, 0, 0) 680px, rgba(100, 100, 225, 0.25) 680px, rgba(100, 100, 225, 0.25) 710px, rgba(0, 0, 0, 0) 710px, rgba(0, 0, 0, 0) 720px, rgba(100, 100, 225, 0.25) 720px, rgba(100, 100, 225, 0.25) 750px, rgba(0, 0, 0, 0) 750px, rgba(0, 0, 0, 0) 760px, rgba(100, 100, 225, 0.25) 760px, rgba(100, 100, 225, 0.25) 790px, rgba(0, 0, 0, 0) 790px, rgba(0, 0, 0, 0) 800px, rgba(100, 100, 225, 0.25) 800px, rgba(100, 100, 225, 0.25) 830px, rgba(0, 0, 0, 0) 830px, rgba(0, 0, 0, 0) 840px, rgba(100, 100, 225, 0.25) 840px, rgba(100, 100, 225, 0.25) 870px, rgba(0, 0, 0, 0) 870px, rgba(0, 0, 0, 0) 880px, rgba(100, 100, 225, 0.25) 880px, rgba(100, 100, 225, 0.25) 910px, rgba(0, 0, 0, 0) 910px, rgba(0, 0, 0, 0) 920px, rgba(100, 100, 225, 0.25) 920px, rgba(100, 100, 225, 0.25) 950px, rgba(0, 0, 0, 0) 950px, rgba(0, 0, 0, 0) 960px);
  -moz-background-size: 100% 18px, auto;
  -webkit-background-size: 100% 18px, auto;
  -o-background-size: 100% 18px, auto;
  background-size: 100% 18px, auto;
  background-position: left top;
}
/* line 4, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .feedback, body.bp .error, body.bp .alert, body.bp .notice, body.bp .success, body.bp .info {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
}
/* line 5, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .error, body.bp .alert {
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 27, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .error a, body.bp .alert a {
  color: #8a1f11;
}
/* line 7, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .notice {
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 36, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .notice a {
  color: #514721;
}
/* line 8, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .success {
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 45, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .success a {
  color: #264409;
}
/* line 9, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .info {
  background: #d5edf8;
  color: #205791;
  border-color: #92cae4;
}
/* line 54, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .info a {
  color: #205791;
}
/* line 10, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .hide {
  display: none;
}
/* line 11, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .highlight {
  background: yellow;
}
/* line 12, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .added {
  background: #006600;
  color: white;
}
/* line 13, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .removed {
  background: #990000;
  color: white;
}

/* line 18, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp label {
  font-weight: bold;
}
/* line 19, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.title {
  font-size: 1.5em;
}
/* line 29, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 30, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp select {
  margin: 0.5em 0;
}
/* line 55, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  border: 1px solid #cccccc;
}
/* line 58, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password],
form.bp textarea {
  background-color: #fff;
  border: 1px solid #bbbbbb;
}
/* line 61, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text:focus, form.bp input.title:focus, form.bp input[type=email]:focus, form.bp input[type=text]:focus, form.bp input[type=password]:focus,
form.bp textarea:focus {
  border-color: #666666;
}
/* line 65, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp select {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}
/* line 44, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  width: 300px;
}
/* line 46, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  width: 390px;
  height: 250px;
}
/* line 39, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp .box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5ecf9;
}
/* line 42, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp .border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #dddddd;
}
/* line 45, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp .colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #dddddd;
}
/* line 47, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}
/* line 49, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: white;
  color: white;
  visibility: hidden;
}
/* line 51, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp form.inline {
  line-height: 3;
}
/* line 6, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp form.inline p {
  margin-bottom: 0;
}

/* line 78, ../../app/stylesheets/screen.scss */
body.two-col #container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  text-align: center;
}
/* line 82, ../../app/stylesheets/screen.scss */
body.two-col #header, body.two-col #footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 147, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #header, * html body.two-col #footer {
  overflow-x: hidden;
}
/* line 84, ../../app/stylesheets/screen.scss */
body.two-col #sidebar {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
/* line 147, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #sidebar {
  overflow-x: hidden;
}
/* line 90, ../../app/stylesheets/screen.scss */
body.two-col #content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 630px;
}
/* line 147, ../../../../../../.rvm/gems/ruby-1.9.2-p180@rails307/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #content {
  overflow-x: hidden;
}

/* line 103, ../../app/stylesheets/screen.scss */
p {
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  color: #333;
  font-weight: lighter;
  font-size: 14px;
  text-shadow: #fff 0px 1px 0px;
}

/* line 112, ../../app/stylesheets/screen.scss */
p a:link, p a:visited, p a:active {
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid  #ffb92e;
}
/* line 117, ../../app/stylesheets/screen.scss */
p a:hover {
  border-bottom: none;
}

@font-face {
  font-family: "Vinyl";
  src: url('/fonts/vino-webfont.ttf') format('truetype'), url('/fonts/vino-webfont.woff') format('woff');
}

/* line 130, ../../app/stylesheets/screen.scss */
body.login {
  background: url("../images/login_bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 137, ../../app/stylesheets/screen.scss */
body.login footer {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
/* line 143, ../../app/stylesheets/screen.scss */
body.login header {
  position: fixed;
  top: 10px;
  right: 10px;
  height: 100px;
}
/* line 149, ../../app/stylesheets/screen.scss */
body.login header p#about, body.login header p#contact {
  -moz-box-shadow: inset 1px 1px 0px #ccc;
  -webkit-box-shadow: inset 1px 1px 0px #ccc;
  box-shadow: inset 1px 1px 0px #ccc;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /* future proofing */
  -khtml-border-radius: 10px;
  /* for old Konqueror browsers */
  background: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  padding: 5px;
  width: 80px;
  display: inline;
  margin: 0 2px;
  float: right;
}
/* line 161, ../../app/stylesheets/screen.scss */
body.login header #contact-div {
  -moz-box-shadow: inset 1px 1px 0px #ccc;
  -webkit-box-shadow: inset 1px 1px 0px #ccc;
  box-shadow: inset 1px 1px 0px #ccc;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /* future proofing */
  -khtml-border-radius: 10px;
  /* for old Konqueror browsers */
  position: relative;
  width: 150px;
  height: 100px;
  top: 30px;
  right: 0px;
  background: rgba(255, 255, 255, 0.9);
  padding: 5px;
  display: none;
}
/* line 174, ../../app/stylesheets/screen.scss */
body.login header #about-div {
  -moz-box-shadow: inset 1px 1px 0px #ccc;
  -webkit-box-shadow: inset 1px 1px 0px #ccc;
  box-shadow: inset 1px 1px 0px #ccc;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /* future proofing */
  -khtml-border-radius: 10px;
  /* for old Konqueror browsers */
  position: relative;
  width: 150px;
  top: 30px;
  right: 0px;
  background: rgba(255, 255, 255, 0.9);
  padding: 5px;
  display: none;
  margin: 10px;
}
/* line 186, ../../app/stylesheets/screen.scss */
body.login header #about-div p {
  margin: 15px;
  text-align: left;
  line-height: 18px;
  font-size: 12px;
}
/* line 197, ../../app/stylesheets/screen.scss */
body.login p.tagline {
  margin-top: -50px;
  margin-bottom: 50px;
  text-align: right;
  padding-right: 245px;
}
/* line 204, ../../app/stylesheets/screen.scss */
body.login h2 {
  color: #ffb92e;
  text-shadow: #fcf46a 1px 0px 0px, #7b5e24 3px 2px 0px, rgba(90, 90, 90, 0.2) 10px 10px 20px;
  margin-top: 30px;
  font-family: "Vinyl", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  font-size: 250px;
}
/* line 211, ../../app/stylesheets/screen.scss */
body.login h2:hover {
  color: #f8c000;
}
/* line 215, ../../app/stylesheets/screen.scss */
body.login h3 {
  font-size: 20px;
  margin: 10px;
  font-family: "Vinyl", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  text-shadow: #fff 0px 1px 0px;
}
/* line 222, ../../app/stylesheets/screen.scss */
body.login .sirkel-tut {
  background: white !important;
  width: 425px;
  height: 350px;
  padding: 10px;
  margin: 0 auto;
  overflow: hidden;
  display: none;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /* future proofing */
  -khtml-border-radius: 10px;
  /* for old Konqueror browsers */
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}
/* line 234, ../../app/stylesheets/screen.scss */
body.login p.watch {
  background: white;
  padding: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /* future proofing */
  -khtml-border-radius: 10px;
  /* for old Konqueror browsers */
  width: 420px;
  margin: 10px auto;
  font-size: 14px;
  -moz-box-shadow: 1px 1px 0px #333;
  -webkit-box-shadow: 1px 1px 0px #333;
  box-shadow: 1px 1px 0px #333;
}
/* line 244, ../../app/stylesheets/screen.scss */
body.login #login-buttons {
  width: 520px;
  margin: 30px auto;
  padding: 10px;
}
/* line 249, ../../app/stylesheets/screen.scss */
body.login #login-buttons p {
  margin: 10px;
  color: #666;
  font-size: 11px;
}
/* line 257, ../../app/stylesheets/screen.scss */
body.login #fb-login {
  background: url("../images/login_fb_sprite.png") no-repeat;
  width: 131px;
  height: 49px;
  margin: 0px auto;
}
/* line 263, ../../app/stylesheets/screen.scss */
body.login #fb-login:hover {
  background: url("../images/login_fb_sprite.png") no-repeat 1px -49px;
  cursor: pointer;
}
/* line 264, ../../app/stylesheets/screen.scss */
body.login #fb-login:active {
  background: url("../images/login_fb_sprite.png") no-repeat 1px -99px;
  cursor: pointer;
}
/* line 266, ../../app/stylesheets/screen.scss */
body.login #twitter-login {
  background: url("../images/login_twitter_sprite.png") no-repeat;
  width: 131px;
  height: 49px;
  float: right;
}
/* line 272, ../../app/stylesheets/screen.scss */
body.login #twitter-login:hover {
  background: url("../images/login_twitter_sprite.png") no-repeat 1px -49px;
  cursor: pointer;
}
/* line 273, ../../app/stylesheets/screen.scss */
body.login #twitter-login:active {
  background: url("../images/login_twitter_sprite.png") no-repeat 1px -100px;
  cursor: pointer;
}

/* line 280, ../../app/stylesheets/screen.scss */
html {
  height: 100%;
}

/* line 284, ../../app/stylesheets/screen.scss */
body.map {
  height: 100%;
}
/* line 287, ../../app/stylesheets/screen.scss */
body.map p {
  font-size: 12px;
}
/* line 291, ../../app/stylesheets/screen.scss */
body.map p, body.map h1, body.map h2, body.map h3 {
  color: #333;
}
/* line 295, ../../app/stylesheets/screen.scss */
body.map p.online {
  font-size: 10px;
}
/* line 299, ../../app/stylesheets/screen.scss */
body.map .wrap {
  width: 270px;
  word-wrap: break-word;
  overflow: hidden;
}
/* line 305, ../../app/stylesheets/screen.scss */
body.map h1 {
  font-family: "Vinyl", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  font-size: 40px;
}
/* line 310, ../../app/stylesheets/screen.scss */
body.map h1.sirkel {
  font-size: 100px;
  color: #ffd842;
  text-shadow: #422c06 0px 1px 0px;
}
/* line 316, ../../app/stylesheets/screen.scss */
body.map li.h3 {
  font-family: "Vinyl", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  font-size: 10px;
}
/* line 321, ../../app/stylesheets/screen.scss */
body.map li.p {
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  font-size: 8px;
  margin-bottom: 2px;
}
/* line 327, ../../app/stylesheets/screen.scss */
body.map #map_canvas {
  height: 100%;
  background: #a5bfdd;
}
/* line 331, ../../app/stylesheets/screen.scss */
body.map #logged-inout {
  position: absolute;
  top: -1000px;
  left: 10px;
}
/* line 337, ../../app/stylesheets/screen.scss */
body.map #new-user-alert {
  position: absolute;
  top: 100px;
  left: -10px;
  width: 500px;
  border: 10px solid red;
  padding: 60px;
  background: rgba(242, 239, 233, 0.9);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /* future proofing */
  -khtml-border-radius: 10px;
  /* for old Konqueror browsers */
  -moz-box-shadow: 1px 1px 0px #333;
  -webkit-box-shadow: 1px 1px 0px #333;
  box-shadow: 1px 1px 0px #333;
}
/* line 348, ../../app/stylesheets/screen.scss */
body.map #new-user-alert h1 {
  text-transform: uppercase;
}
/* line 353, ../../app/stylesheets/screen.scss */
body.map #new-user-alert p {
  font-size: 20px !important;
  color: red;
  margin: 20px;
}
/* line 361, ../../app/stylesheets/screen.scss */
body.map #user_info {
  background: rgba(242, 239, 233, 0.8);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /* future proofing */
  -khtml-border-radius: 10px;
  /* for old Konqueror browsers */
  -moz-box-shadow: 1px 1px 0px #333;
  -webkit-box-shadow: 1px 1px 0px #333;
  box-shadow: 1px 1px 0px #333;
  padding: 10px;
  width: 300px;
  margin-bottom: 15px;
}
/* line 369, ../../app/stylesheets/screen.scss */
body.map #user_info #user_image_container {
  height: 100px;
  float: left;
}
/* line 374, ../../app/stylesheets/screen.scss */
body.map #user_info #user_image_container #user_image {
  -moz-box-shadow: 1px 1px 0px #333;
  -webkit-box-shadow: 1px 1px 0px #333;
  box-shadow: 1px 1px 0px #333;
  margin: 10px;
}
/* line 380, ../../app/stylesheets/screen.scss */
body.map #user_info p.hide {
  font-family: "Vinyl", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
  /* future proofing */
  -khtml-border-radius: 0px 0px 10px 10px;
  /* for old Konqueror browsers */
  background: #fff;
  width: 102%;
  margin: 10px -9px -9px -9px;
  padding: 5% 2% 2% 2%;
  font-size: 10px;
  cursor: pointer;
}
/* line 391, ../../app/stylesheets/screen.scss */
body.map #user_info h1 {
  margin-top: 10px;
  margin-bottom: 5px;
  text-shadow: #fff 0px 1px 0px;
  text-transform: uppercase;
  font-size: 20px;
}
/* line 401, ../../app/stylesheets/screen.scss */
body.map p.show {
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
  /* future proofing */
  -khtml-border-radius: 0px 0px 10px 10px;
  /* for old Konqueror browsers */
  -moz-box-shadow: 1px 1px 0px #333;
  -webkit-box-shadow: 1px 1px 0px #333;
  box-shadow: 1px 1px 0px #333;
  position: absolute;
  top: 0px;
  left: 10px;
  font-family: "Vinyl", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  background: #fff;
  width: 300px;
  height: 10px;
  padding: 10px;
  font-size: 10px;
  cursor: pointer;
}
/* line 416, ../../app/stylesheets/screen.scss */
body.map #slider {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  height: 95%;
  margin: 3px;
}
/* line 425, ../../app/stylesheets/screen.scss */
body.map #pusher {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /* future proofing */
  -khtml-border-radius: 10px;
  /* for old Konqueror browsers */
  padding: 10px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 300px;
  height: 200px;
  background: rgba(242, 239, 233, 0.8);
}
/* line 437, ../../app/stylesheets/screen.scss */
body.map #logo {
  background: white;
  position: absolute;
  bottom: 3px;
  left: 3px;
  width: 200px;
  height: 35px;
  padding-left: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /* future proofing */
  -khtml-border-radius: 10px;
  /* for old Konqueror browsers */
  -moz-box-shadow: 1px 1px 0px #333;
  -webkit-box-shadow: 1px 1px 0px #333;
  box-shadow: 1px 1px 0px #333;
}
/* line 448, ../../app/stylesheets/screen.scss */
body.map #logo h2, body.map #logo h2 a:link, body.map #logo h2 a:visited, body.map #logo h2 a:active, body.map #logo h2 a:hover {
  color: #ffb92e;
  width: 75px;
  text-shadow: #fcf46a 1px 0px 0px, #7b5e24 2px 1px 0px, rgba(90, 90, 90, 0.2) 10px 10px 20px;
  font-family: "Vinyl", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  font-size: 30px;
  text-decoration: none;
  display: inline;
  float: left;
}
/* line 459, ../../app/stylesheets/screen.scss */
body.map #logo p {
  font-size: 10px;
  float: left;
  display: inline;
  padding: 0px 0px 0px 0px;
  line-height: 15px;
}
/* line 472, ../../app/stylesheets/screen.scss */
body.map ::-webkit-scrollbar {
  width: 5px;
}
/* line 474, ../../app/stylesheets/screen.scss */
body.map ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #bc6f0f;
  border-radius: 3px;
}
/* line 477, ../../app/stylesheets/screen.scss */
body.map ::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 1px #bc0000;
}
