%footer
  %nav
    %ul
      %p.li= raw "#{link_to "gnzlz.com", 'http://gnzlz.com', :target => '_blank'}  &#9733; Copyright &#169; 2011 &#9733; #{link_to( "Github","https://github.com/briangonzalez/sirkel" )}"
